.cart__left--img {
    width: 100px;
    height: 100px;
}
.cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.cart__right {
    margin-bottom: 50px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 100px;
}

.cart__right--buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.cart__left--product-counter {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
