.gpt3__info {
    display: flex;
    flex-direction: column;
    gap: max(2vh, 4rem);
    padding: 5rem max(4vw, 3rem);

    background: var(--color-footer);

    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gpt3__info-content {
}
.gpt3__info-content-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}
.gpt3__info-content--h2 {
    font-size: clamp(2.4rem, 5vw, 3.4rem);
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gpt3__info-content--h4:before {
    display: flex;
    content: "";
    background: var(--gradient-bar);

    height: 0.3rem;
    width: 4rem;
    margin-bottom: 1.5rem;
}

.gpt3__info-content--h4 {
    font-size: clamp(1.8rem, 5vw, 2.4rem);
    color: var(--navbar-color);
    margin-bottom: clamp(2rem, 3vh, 5rem);
}

.gpt3__info-content--paragraph {
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    line-height: clamp(2rem, 4vh, 4rem);
    color: var(--text-color);
}

.gpt3__info-content--explore {
    color: var(--subtext-color);
}

.gpt3__info-content-card {
    margin-bottom: 1.5rem;
}
