.step__container {
  display: grid;
  place-items: center;
  height: 100%;
}
.step__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  padding: 15px;
  border: thin solid #000;
  width: 350px;
}

.step__buttons {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.step__number {
  position: absolute;
  top: 10px;
  right: 20px;
}

.step__users-select {
  padding: 5px;
}

.step__users-details {
  text-align: left;
}

.step__orders {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px 0;
  text-align: left;
}
.step__order {
  border-bottom: thin solid #000;
  padding: 15px;
  width: 100%;
}

.step__order:hover {
  background-color: #d3d3d3;
}

/* STEP 3 styles */
.step__final-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.step__client {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.step__invoice-date-from,
.step__invoice-date-to,
.step__invoice-price {
  padding: 8px;
  width: 100%;
  border: thin solid #000;
  background-color: var(--background-color);
  color: #000;
  color-scheme: dark;
}

.step__invoice-date-from::-webkit-calendar-picker-indicator,
.step__invoice-date-to::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
