*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    height: 100%;
    width: 100%;
    font-size: var(--default-font-size);
    font-family: var(--font-family);
    background: -moz-radial-gradient(circle at 8% 16%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    background: -webkit-radial-gradient(circle at 8% 16%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    background: -o-radial-gradient(circle at 8% 16%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    background: -ms-radial-gradient(circle at 8% 16%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    background: radial-gradient(circle at 8% 16%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.padding-space {
    padding: 3rem max(8vw, 2rem);
}
